.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  margin-top: -20vh;
  padding: 40rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
    background-size: cover;

    clip-path: polygon(0 20vh, 100% 0, 100% 80%, 0% 100%);
}

.section-parks {
  margin-top: -30vh;
  background-color: $color-grey-light-1;
  padding: 35rem 0 50rem;
}